<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Gameplay Web</title>
    <link rel="stylesheet" type="text/css" href="index/style.css"/>
</head>
<body>
<div id="row1">
    <a href="/pong"><img src="/index/arkanoid.jpg"></a>
    <a href="/pacman"><img src="/index/pacman1.jpg"></a>
</div>
<h1><%= title %></h1>
<div id="row2">
    <a href="/pong"><img src="/index/arkanoid.jpg"></a>
    <a href="/pacman"><img src="/index/pacman1.jpg"></a>
</div>
</body>
</html>