<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Pong Gameplay</title>
    <link rel="stylesheet" type="text/css" href="pong/style.css"/>

</head>
<body>

<canvas id="myCanvas" width="1024" height="768"></canvas>

<script type="text/javascript" src="pong/scripts.js"></script>

</body>
</html>